TDY/Resources/WADL/TdyController.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="TdyControlle">TDY Controller</doc>
   <resources>
      <resource path="/compare/getVersionList/{id}">
         <method name="GET" soa:name="GetOtherVersionList">
            <request>
               <param name="id" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/create/getAaYpoergouList">
         <method name="GET" soa:name="GetListAAYpoergoy">
            <request>
               <param name="kodikosMis" style="query" type="xsd:string"/>
               <param name="aaYpoergou" style="query" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/create/getAaYpoergouListForCopy">
         <method name="GET" soa:name="GetlistYpoeroyForCopy">
            <request>
               <param name="kodikosMis" style="query" type="xsd:string"/>
               <param name="aaYpoergou" style="query" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/elenxosNomimotitasList/{kodikosMis}/{kodikosYpoergoy}/{aaTyd}">
         <method name="GET" soa:name="GetElegxosNomimotitas">
            <request>
               <param name="kodikosMis" style="template" type="xsd:string"/>
               <param name="kodikosYpoergoy" style="template" type="xsd:string"/>
               <param name="aaTyd" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/fetchCountMeep/{kodikosMis}/{kodikosYpoergoy}">
         <method name="GET" soa:name="GetMeepCount">
            <request>
               <param name="kodikosMis" style="template" type="xsd:string"/>
               <param name="kodikosYpoergoy" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/fetchCountMeepNotNullInOtherTdyEkdoseis/{kodikosYpoergoy}/{aaTdy}/{aaYpoekdosh}">
         <method name="GET" soa:name="GetMeepCountEkdoseis">
            <request>
               <param name="kodikosYpoergoy" style="template" type="xsd:string"/>
               <param name="aaTdy" style="template" type="xsd:string"/>
               <param name="aaYpoekdosh" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/geoList/{kodikosMis}">
         <method name="GET" soa:name="GetGeoList">
            <request>
               <param name="kodikosMis" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/getEmpty">
         <method name="GET" soa:name="GetEmptyTDY">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getKatastasoisDeltion">
         <method name="GET" soa:name="GetKatastseisDeltiou">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getKodikosYpoergoy/{kodikosMis}">
         <method name="GET" soa:name="GetkodikosYpoergoy">
            <request>
               <param name="kodikosMis" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/katDapanis/{mis}">
         <method name="GET" soa:name="GetKatigoriaDapanis">
            <request>
               <param name="mis" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/retrieveAplopoihmenoKostosList/{mis}/{ypoergo}">
         <method name="GET" soa:name="GetApplopoimenoKostos">
            <request>
               <param name="mis" style="template" type="xsd:string"/>
               <param name="ypoergo" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/retrieveErothmataApanthsh">
         <method name="GET" soa:name="GetErotimata">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/retrieveEti/{kodikosMis}/{tdyId}">
         <method name="GET" soa:name="GetEti">
            <request>
               <param name="kodikosMis" style="template" type="xsd:string"/>
               <param name="tdyId" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/retrieveKathgoriesDapanhs/{tdyid}/{kodikosMis}/{kodikosYpoergou}">
         <method name="GET" soa:name="GetKatigoriesDapanis">
            <request>
               <param name="tdyid" style="template" type="xsd:string"/>
               <param name="kodikosMis" style="template" type="xsd:string"/>
               <param name="kodikosYpoergou" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/retrieveListesTimwnEidika">
         <method name="POST" soa:name="GetListesTimonEdika">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/retrieveTitlosYpoergoyTdp/{kodikosMis}/{kodikosYpoergoy}">
         <method name="GET" soa:name="GetTitloYpoergoy">
            <request>
               <param name="kodikosMis" style="template" type="xsd:string"/>
               <param name="kodikosYpoergoy" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/search/aaProsklishs">
         <method name="GET" soa:name="Getprosklisis">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
