E555/Resources/WADL/E555Controller.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="E555Controller">E555 Controller</doc>
   <resources>
      <resource path="/search">
         <method name="POST" soa:name="SearchCriteria">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/search/getTraAaList/{traAa}/{idEp}">
         <method name="GET" soa:name="GetTraList">
            <request>
               <param name="traAa" style="template" type="xsd:string"/>
               <param name="idEp" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/search/getAnaforaPeriod">
         <method name="GET" soa:name="GetPeriodoAnaforasList">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/sdpw">
         <method name="POST" soa:name="UpdateDeiktes">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/deleteBulletin">
         <method name="POST" soa:name="DeleteDeltio">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getAnaforaPeriodList/{idEp}">
         <method name="GET" soa:name="GetSearchAnaforaPeriodList">
            <request>
               <param name="idEp" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/sdpc">
         <method name="POST" soa:name="Create">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/search/getEpList">
         <method name="GET" soa:name="GetEpList">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getTableList/{idTra}">
         <method name="GET" soa:name="GetTableList">
            <request>
               <param name="idTra" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/get/{idTra}">
         <method name="GET" soa:name="GetIdTra">
            <request>
               <param name="idTra" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>