E524/Resources/WSDL/AksiologisiService/AklsiologisiService.wsdl

<wsdl:definitions name="AklsiologisiService" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/EnlightIT/E524/AklsiologisiService" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/EnlightIT/E524/AklsiologisiService" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/AklsiologisiService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="AklsiologisiService_plt">
    <plt:role name="AklsiologisiService_role">
      <plt:portType name="tns:AklsiologisiService_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/AklsiologisiService" schemaLocation="../../ADAPTERS/AksiologisiService/AksiologisiService_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="Kps6ChecklistsDeltioyCollection_msg">
        <wsdl:part name="Kps6ChecklistsDeltioyCollection" element="top:Kps6ChecklistsDeltioyCollection"/>
    </wsdl:message>
    <wsdl:portType name="AklsiologisiService_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:Kps6ChecklistsDeltioyCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:Kps6ChecklistsDeltioyCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:Kps6ChecklistsDeltioyCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>