E524/Resources/WSDL/ErotimataService/ErotimataService.wsdl

<wsdl:definitions name="ErotimataService" targetNamespace="http://xmlns.oracle.com/EnlightIT/E524/ErotimataService" xmlns:tns="http://xmlns.oracle.com/EnlightIT/E524/ErotimataService" xmlns:inp1="http://TargetNamespace.com/DeltioErotimatonv6RestService_GET_request" xmlns:inp2="http://TargetNamespace.com/DeltioErotimatonv6RestService_GET_response" xmlns:inp3="http://TargetNamespace.com/DeltioErotimatonv6RestService_PUTPOST_request" xmlns:inp4="http://TargetNamespace.com/DeltioErotimatonv6RestService_Delete_Operation_response" xmlns:ns0="http://TargetNamespace.com/DeltioErotimatonv6RestService_GET_request" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ErotimataService">
        <plnk:role name="ErotimataServiceProvider" portType="tns:ErotimataService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/DeltioErotimatonv6RestService_GET_request" schemaLocation="../../XSD/DeltioErotimaton_retrieve_request.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/DeltioErotimatonv6RestService_GET_response" schemaLocation="../../XSD/DeltioErotimaton_retrieve_response.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/DeltioErotimatonv6RestService_PUTPOST_request" schemaLocation="../../XSD/DeltioErotimaton_request.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/DeltioErotimatonv6RestService_Delete_Operation_response" schemaLocation="../../XSD/DeltioErotimaton_response.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetErotimata_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="GetErotimata_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="UpdateErotimata_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="UpdateErotimata_outputMessage">
        <wsdl:part name="reply" element="inp4:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="InsertErotimata_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="InsertErotimata_outputMessage">
        <wsdl:part name="reply" element="inp4:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="ErotimataService_ptt">
        <wsdl:operation name="GetErotimata">
            <wsdl:input message="tns:GetErotimata_inputMessage"/>
            <wsdl:output message="tns:GetErotimata_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateErotimata">
            <wsdl:input message="tns:UpdateErotimata_inputMessage"/>
            <wsdl:output message="tns:UpdateErotimata_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsertErotimata">
            <wsdl:input message="tns:InsertErotimata_inputMessage"/>
            <wsdl:output message="tns:InsertErotimata_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ErotimataService_ptt-binding" type="tns:ErotimataService_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetErotimata">
            <soap:operation soapAction="GetErotimata"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateErotimata">
            <soap:operation soapAction="UpdateErotimata"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertErotimata">
            <soap:operation soapAction="InsertErotimata"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>