E524/Resources/WADL/ErotimataService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ErotimataService">RestReference</doc>
   <resources>
      <resource path="/">
         <method name="GET" soa:name="GetErotimara">
            <request>
               <param name="USERNAME" style="query" type="xsd:string"/>
               <param name="LANG" style="query" type="xsd:string"/>
               <param name="idObject" style="query" type="xsd:string"/>
               <param name="objectCategoryId" style="query" type="xsd:string"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
               <representation mediaType="application/xml"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="PUT" soa:name="InsertErotimata">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" soa:name="UpdateErotimata">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/del">
         <method name="POST" soa:name="DeleteRotimata">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
