TDY/Resources/XSD/nxsd_getdy_response.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://espa.gr/v6/tdy" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://espa.gr/v6/tdy" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" nxsd:version="JSON"
           nxsd:encoding="UTF-8">
  <xs:element name="TDYGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ERROR_CODE" type="xs:string"/>
        <xs:element name="ERROR_MESSAGE" type="xs:string"/>
        <xs:element name="DATA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KPS6_YPOERGA" nxsd:style="list">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TDY_ID" type="xs:double"/>
                    <xs:element name="KODIKOS_MIS" type="xs:double"/>
                    <xs:element name="KODIKOS_YPOERGOY" type="xs:double"/>
                    <xs:element name="AA_YPOERGOY" type="xs:double"/>
                    <xs:element name="AA_TDY" type="xs:double"/>
                    <xs:element name="AA_YPOEKDOSH" type="xs:double"/>
                    <xs:element name="KATHGORIA_EKDOSHS" type="xs:double"/>
                    <xs:element name="TITLOS_YPOERGOY" type="xs:string"/>
                    <xs:element name="KODIKOS_PROEG" type="xs:string"/>
                    <xs:element name="TEXNIKH_PERIGRAFH" type="xs:string"/>
                    <xs:element name="AR_PROTOK_DA" type="xs:string"/>
                    <xs:element name="DATE_CREATION" type="xs:string"/>
                    <xs:element name="DATE_MET_YPOVOLHS" type="xs:string"/>
                    <xs:element name="DATE_YPOVOLIS" type="xs:string"/>
                    <xs:element name="DATE_EPILEKSIMOTHTAS" type="xs:string"/>
                    <xs:element name="DATE_ANALHPSHS" type="xs:string"/>
                    <xs:element name="DATE_LHKSHS" type="xs:string"/>
                    <xs:element name="DATE_TROPOP" type="xs:string"/>
                    <xs:element name="KODIKOS_EPIVLEPOYSAS" type="xs:integer"/>
                    <xs:element name="PARATHRHSEIS_KATAXOR_TDY" type="xs:string"/>
                    <xs:element name="EIDOS_ANATHESHS" type="xs:double"/>
                    <xs:element name="KODIKOS_DIKAIOYXOS" type="xs:integer"/>
                    <xs:element name="KODIKOS_PAREMVASIS" type="xs:string"/>
                    <xs:element name="ELEGXOS_AATDP" type="xs:double"/>
                    <xs:element name="ONOMA_YPEYTHINOY" type="xs:string"/>
                    <xs:element name="THESH_YPEYTHINOY" type="xs:string"/>
                    <xs:element name="DIEYTHYNSH_YPEYTHINOY" type="xs:string"/>
                    <xs:element name="SPECIALITY_YPEYTHINOY" type="xs:string"/>
                    <xs:element name="THL_YPEYTHINOY" type="xs:string"/>
                    <xs:element name="FAX_YPEYTHINOY" type="xs:string"/>
                    <xs:element name="EMAIL_YPEYTHINOY" type="xs:string"/>
                    <xs:element name="PARATHRHSEIS_KATAXOR_TDY_DIK" type="xs:string"/>
                    <xs:element name="TITLOS_FOREA" type="xs:string"/>
                    <xs:element name="ELEGXOS" type="xs:double"/>
                    <xs:element name="KATASTASH_DELTIOY" type="xs:double"/>
                    <xs:element name="KATASTASH_DELTIOY_DESCR" type="xs:string"/>
                    <xs:element name="DATE_ELEGXOY" type="xs:string"/>
                    <xs:element name="ID_TDY_SYMPLHROMATIKHS" type="xs:string"/>
                    <xs:element name="TYPOS_TDY" type="xs:double"/>
                    <xs:element name="AITIOLOGIA_YPOEKDOSHS" type="xs:string"/>
                    <xs:element name="FLAG_TROP_TIMETABLE" type="xs:integer"/>
                    <xs:element name="FLAG_TROP_OIK" type="xs:integer"/>
                    <xs:element name="FLAG_TROP_FYS" type="xs:integer"/>
                    <xs:element name="FLAG_TROP_ALLO" type="xs:integer"/>
                    <xs:element name="KODIKOS_OIKONOMIKHS" type="xs:double"/>
                    <xs:element name="PERIGRAFH_OIKONOMIKHS" type="xs:string"/>
                    <xs:element name="ONOMA_YPEYTHINOY_OIK" type="xs:string"/>
                    <xs:element name="THESH_YPEYTHINOY_OIK" type="xs:string"/>
                    <xs:element name="DIEYTHYNSH_YPEYTHINOY_OIK" type="xs:string"/>
                    <xs:element name="THL_YPEYTHINOY_OIK" type="xs:string"/>
                    <xs:element name="EMAIL_YPEYTHINOY_OIK" type="xs:string"/>
                    <xs:element name="POSO_MH_ENISXYOMENH" type="xs:integer"/>
                    <xs:element name="YPOE_ARXAIOLOGIA_FLAG" type="xs:string"/>
                    <xs:element name="YPOE_ENISXYSH_FLAG" type="xs:string"/>
                    <xs:element name="TYPOS_YPOERGOY_FLAG" type="xs:string"/>
                    <xs:element name="FPA_ANAKTHSIMOS_FLAG" type="xs:string"/>
                    <xs:element name="PERIORISMOI_MEEP" type="xs:string"/>
                    <xs:element name="DATE_MEEP" type="xs:string"/>
                    <xs:element name="POSO_IDIOT" type="xs:double"/>
                    <xs:element name="ST_FLAG" type="xs:double"/>
                    <xs:element name="PROEG_AA" type="xs:double"/>
                    <xs:element name="EKDOSH_PROEG" type="xs:string"/>
                    <xs:element name="TITLOS_PROEG" type="xs:string"/>
                    <xs:element name="DIKAIOYXOS_YPOERGOY" type="xs:string"/>
                    <xs:element name="FOREAS_PARAKOLOYTHISHS" type="xs:string"/>
                    <xs:element name="TDP_ID_ATP" type="xs:double"/>
                    <xs:element name="RHTRA" type="xs:double"/>
                    <xs:element name="PERIGRAFH_EPIVLEPOYSAS" type="xs:string"/>
                    <xs:element name="PROELEYSH_DELTIO" type="xs:double"/>
                    <xs:element name="DA_TEXT" type="xs:string"/>
                    <xs:element name="FLAG_AYTOMATI_EKGKRISH_TDY" type="xs:integer"/>
                    <xs:element name="KPS_KATALOGOS_ERGON" type="kpsKATALOGOSERGON"/>
                    <xs:element name="KPS6_YPOE_ANADOXOI" type="KPS6_YPOE_ANADOXOI" maxOccurs="unbounded"/>
                    <xs:element name="KPS6_YPOE_KATANOMH" type="KPS6_YPOE_KATANOMH" maxOccurs="unbounded"/>
                    <xs:element name="KPS6_YPOE_EPILEKSIMES" type="KPS6_YPOE_EPILEKSIMES" maxOccurs="unbounded"/>
                    <xs:element name="KPS6_YPOE_DEIKTES" type="kps6YPOEDEIKTES" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="KPS6_YPOE_DIAKRITA" type="KPS6_YPOE_DIAKRITA" maxOccurs="unbounded"/>
                    <xs:element name="KPS6_YPOE_XOROTHETHSEIS" type="KPS6_YPOE_XOROTHETHSEIS" maxOccurs="unbounded"/>
                    <xs:element name="KPS6_YPOERGA_MONADIAIA_KOSTH" type="KPS6_YPOERGA_MONADIAIA_KOSTH"
                                maxOccurs="unbounded"/>
                    <xs:element name="Kps6DeltioErothmata" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="idDeler" type="xs:integer"/>
                          <xs:element name="objectCategoryId" type="xs:integer"/>
                          <xs:element name="parentId" type="xs:integer"/>
                          <xs:element name="checklistType" type="xs:integer"/>
                          <xs:element name="idErothma" type="xs:integer"/>
                          <xs:element name="apanthshValue" type="xs:integer"/>
                          <xs:element name="apanthshDate" type="xs:string"/>
                          <xs:element name="statusId" type="xs:integer"/>
                          <xs:element name="isxysFlg" type="xs:int"/>
                          <xs:element name="isxysDate" type="xs:string"/>
                          <xs:element name="objectId" type="xs:integer"/>
                          <xs:element name="sxoliaYops" type="xs:string"/>
                          <xs:element name="parathrhseis" type="xs:string"/>
                          <xs:element name="alloKeimeno" type="xs:string"/>
                          <xs:element name="V6DeltioErothmataInfo" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="objectCategoryId" type="xs:integer"/>
                                <xs:element name="parentId" type="xs:integer"/>
                                <xs:element name="checklistType" type="xs:integer"/>
                                <xs:element name="checklistTypeDescr" type="xs:string"/>
                                <xs:element name="idErothma" type="xs:integer"/>
                                <xs:element name="erothmaAa" type="xs:string"/>
                                <xs:element name="erothma" type="xs:string"/>
                                <xs:element name="apanthshValue" type="xs:integer"/>
                                <xs:element name="apanthshValueDescr" type="xs:string"/>
                                <xs:element name="apanthshDate" type="xs:string"/>
                                <xs:element name="statusId" type="xs:integer"/>
                                <xs:element name="isxysFlg" type="xs:int"/>
                                <xs:element name="isxysFlgDescr" type="xs:string"/>
                                <xs:element name="isxysDate" type="xs:string"/>
                                <xs:element name="objectId" type="xs:string"/>
                                <xs:element name="sxoliaYops" type="xs:string"/>
                                <xs:element name="parathrhseis" type="xs:string"/>
                                <xs:element name="alloKeimeno" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="actionCode" type="xs:integer"/>
        <xs:element name="comments" type="xs:string"/>
        <xs:element name="combineChecks" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="kpsKATALOGOSERGON">
    <xs:sequence>
      <xs:element name="EP_KODIKOS" type="xs:string"/>
      <xs:element name="EP_TITLOS" type="xs:string"/>
      <xs:element name="YPOPROGR_KODIKOS" type="xs:string"/>
      <xs:element name="YPOPROGR_TITLOS" type="xs:string"/>
      <xs:element name="KATASTASH_PRAKSHS" type="xs:string"/>
      <xs:element name="TITLOS_MIS" type="xs:string"/>
      <xs:element name="PROSKLHSH_KODIKOS" type="xs:string"/>
      <xs:element name="TITLOS_PROSKLHSHS" type="xs:string"/>
      <xs:element name="EKXOR_KODIKOS" type="xs:string"/>
      <xs:element name="EIDOS_TDY" type="xs:string"/>
      <xs:element name="EIDOS_TDY_DESCR" type="xs:string"/>
      <xs:element name="EIDOS_YPOERGOY" type="xs:string"/>
      <xs:element name="EIDOS_YPOERGOY_DESCR" type="xs:string"/>
      <xs:element name="SYMPL_XRHMATOD" type="xs:string"/>
      <xs:element name="SYMV_PRO_ENTAKSHS" type="xs:string"/>
      <xs:element name="FOREAS_PARAKOL" type="xs:string"/>
      <xs:element name="ORIZONTIO_YPOERGO_FLAG" type="xs:string"/>
      <xs:element name="FLAG_MEEP_ENABLE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KPS6_YPOE_ANADOXOI">
          <xs:sequence>
            <xs:element name="YAN_ID" type="xs:double"/>
            <xs:element name="TDY_ID" type="xs:double"/>
            <xs:element name="AFM" type="xs:string"/>
            <xs:element name="ADAM_SYMVASHS" type="xs:string"/>
            <xs:element name="ROLOS_ANADOXOU" type="xs:double"/>
            <xs:element name="ENERGOS_ANADOXOS" type="xs:string"/>
            <xs:element name="AITIOLOGIA_ANENERGOY" type="xs:string"/>
            <xs:element name="POSO_DD" type="xs:double"/>
            <xs:element name="PARATHRHSEIS_KATAXOR_TDY_ANA" type="xs:string"/>
            <xs:element name="ROLOS_ANADOXOU_DESCR" type="xs:string"/>
            <xs:element name="KPS_ANADOXOI" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AFM" type="xs:string"/>
                  <xs:element name="DOY" type="xs:string" minOccurs="0"/>
                  <xs:element name="EPONYMIA" type="xs:string" minOccurs="0"/>
                  <xs:element name="XRHSTHS_EISAG" type="xs:string" minOccurs="0"/>
                  <xs:element name="HMEROM_EISAG" type="xs:string" minOccurs="0"/>
                  <xs:element name="XRHSTHS_ENHM" type="xs:string" minOccurs="0"/>
                  <xs:element name="HMEROM_ENHM" type="xs:string" minOccurs="0"/>
                  <xs:element name="ELEGXOS" type="xs:string" minOccurs="0"/>
                  <xs:element name="AFM_TEMP" type="xs:string" minOccurs="0"/>
                  <xs:element name="DIEYTHYNSH" type="xs:string" minOccurs="0"/>
                  <xs:element name="FAX" type="xs:string" minOccurs="0"/>
                  <xs:element name="POLH" type="xs:string" minOccurs="0"/>
                  <xs:element name="TK" type="xs:string" minOccurs="0"/>
                  <xs:element name="EMAIL" type="xs:string" minOccurs="0"/>
                  <xs:element name="DIAKRITOS_TITLOS" type="xs:string" minOccurs="0"/>
                  <xs:element name="ENISX_EPIX" type="xs:string" minOccurs="0"/>
                  <xs:element name="ANAD_DHM_SYMB" type="xs:string" minOccurs="0"/>
                  <xs:element name="EGKYRO" type="xs:string" minOccurs="0"/>
                  <xs:element name="PROSOPO" type="xs:string" minOccurs="0"/>
                  <xs:element name="XENO_AFM" type="xs:string" minOccurs="0"/>
                  <xs:element name="ENLYPOLOGOS_FLG" type="xs:string" minOccurs="0"/>
                  <xs:element name="ENL_DIKAIOYX_FLG" type="xs:string" minOccurs="0"/>
                  <xs:element name="THL" type="xs:string" minOccurs="0"/>
                  <xs:element name="KODIKOS_DOY" type="xs:string" minOccurs="0"/>
                  <xs:element name="MEGETHOS_EPIXEIRHSHS" type="xs:integer" minOccurs="0"/>
                  <xs:element name="AFM_T" type="xs:string" minOccurs="0"/>
                  <xs:element name="FLAG_FYLO" type="xs:integer" minOccurs="0"/>
                  <xs:element name="ID_GEO" type="xs:double"/>
                  <xs:element name="AXT_MAIN_DESC" type="xs:string" minOccurs="0"/>
                  <xs:element name="ENARXI" type="xs:string" minOccurs="0"/>
                  <xs:element name="DIAKOPI" type="xs:string" minOccurs="0"/>
                  <xs:element name="anadoxoiIdGeoDescr" type="xs:string" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KPS6_YPOE_DIAKRITA">
    <xs:sequence>
      <xs:element name="YDI_ID" type="xs:double"/>
      <xs:element name="TDY_ID" type="xs:double"/>
      <xs:element name="AA_DIAKRITOY" type="xs:string"/>
      <xs:element name="ONOMA_DIAKRITOY" type="xs:string"/>
      <xs:element name="PROYPOLOGISMOS" type="xs:double"/>
      <xs:element name="DATE_MILESTONE" type="xs:string"/>
      <xs:element name="ENERGEIES_FAPE" type="xs:string"/>
      <xs:element name="PARADOTEA_FAPE" type="xs:string"/>
      <xs:element name="PROYPOLOGISMOS_EPIL" type="xs:double"/>
      <xs:element name="DATE_START" type="xs:string"/>
      <xs:element name="ST_FLAG" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KPS6_YPOE_EPILEKSIMES">
    <xs:sequence>
      <xs:element name="YEP_ID" type="xs:double"/>
      <xs:element name="TDY_ID" type="xs:double"/>
      <xs:element name="ID_KATHGORIA_DAPANHS" type="xs:double"/>
      <xs:element name="ID_XARAKTHRISTIKO_DAPANHS" type="xs:double"/>
      <xs:element name="POSO_DD_NOFPA" type="xs:double"/>
      <xs:element name="POSO_FPA_DD" type="xs:double"/>
      <xs:element name="POSO_DD_EPIL" type="xs:double"/>
      <xs:element name="POSO_FPA_EPILEKSIMH_DD" type="xs:double"/>
      <xs:element name="PERIGRAFH_KAT_DAPANHS" type="xs:string"/>
      <xs:element name="POSOSTO" type="xs:string"/>
      <xs:element name="KOSTOS_MONADAS" type="xs:string"/>
      <xs:element name="MONADA_METRHSHS" type="xs:string"/>
      <xs:element name="PERIGRAFH_MONADAS" type="xs:string"/>
      <xs:element name="ARITHMOS_MONADON" type="xs:string"/>
      <xs:element name="KATHG_MH_EPILEKSIMOTHTAS" type="xs:string"/>
      <xs:element name="AITIOLOGHSH_MH_EPILEKSIMOTHTAS" type="xs:string"/>
      <xs:element name="ID_UNCO" type="xs:string"/>
      <xs:element name="ST_FLAG" type="xs:string"/>
      <xs:element name="KODIKOS_DAPANHS" type="xs:string"/>
      <xs:element name="POSOTHTA_SYNOLIKH" type="xs:double"/>
      <xs:element name="ID_YPUNCO" type="xs:string"/>
      <xs:element name="FLAG_APLOPOIHMENO_KOSTOS" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KPS6_YPOE_KATANOMH">
    <xs:sequence>
      <xs:element name="YKA_ID" type="xs:double"/>
      <xs:element name="TDY_ID" type="xs:double"/>
      <xs:element name="ETOS" type="xs:integer"/>
      <xs:element name="POSO_DD_A" type="xs:double"/>
      <xs:element name="POSO_DD_EPIL_A" type="xs:double"/>
      <xs:element name="ST_FLAG" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KPS6_YPOE_XOROTHETHSEIS">
    <xs:sequence>
      <xs:element name="YXO_ID" type="xs:double"/>
      <xs:element name="TDY_ID" type="xs:double"/>
      <xs:element name="AA_XOROTHETHSHS" type="xs:double"/>
      <xs:element name="POSOSTO" type="xs:double"/>
      <xs:element name="ID_GEO" type="xs:double"/>
      <xs:element name="ID_TK" type="xs:string"/>
      <xs:element name="POSO" type="xs:double"/>
      <xs:element name="PER_NOM_DESCR" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KPS6_YPOERGA_MONADIAIA_KOSTH">
    <xs:sequence>
      <xs:element name="ID_YPUNCO" type="xs:double"/>
      <xs:element name="ID_UNCO" type="xs:double"/>
      <xs:element name="TDY_ID" type="xs:double"/>
      <xs:element name="TIMH_MONADAS" type="xs:double"/>
      <xs:element name="POSOTHTA" type="xs:double"/>
      <xs:element name="ST_FLAG" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="kps6YPOEDEIKTES">
    <xs:sequence>
      <xs:element name="YDE_ID" type="xs:string"/>
      <xs:element name="TDY_ID" type="xs:string"/>
      <xs:element name="KODIKOS_DEIKTHS" type="xs:string"/>
      <xs:element name="TIMH_STOXOS" type="xs:string"/>
      <xs:element name="EIDOS_DEIKTH" type="xs:string"/>
      <xs:element name="ONOMASIA" type="xs:string"/>
      <xs:element name="MONADA_METRHSHS" type="xs:string"/>
      <xs:element name="ST_FLAG" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
