CommonEnlightIT/Resources/WADL/DocumentsService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="DocumentsContoller">Controller to handle attachement Middleware Endpoints</doc>
   <resources>
      <resource path="/hasUserInsertRight">
         <method name="POST" soa:name="HasUserInsertRight">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/categoriesList">
         <method name="POST" soa:name="CatgoriesList">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getMaxSizeAllowed">
         <method name="GET" soa:name="MaxSizedAllowed">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/list">
         <method name="POST" soa:name="List">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/getTropopoihsiMesw">
         <method name="GET" soa:name="GetTropopoihsi">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/delete">
         <method name="POST" soa:name="DeleteAttachment">
            <request>
               <representation mediaType="*/*"/>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/list/download/all">
         <method name="POST" soa:name="DownloadAll">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/new">
         <method name="POST" soa:name="PersistAttachment">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="204"/>
            <response status="500"/>
         </method>
      </resource>
   </resources>
</application>
