CommonEnlightIT/Resources/WADL/GenericService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="GenericRestService">Generic Controller</doc>
   <resources>
      <resource path="/getListCategoriesByCategoryId">
         <method name="POST" soa:name="GetListCategoriesByCategoryID">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/getKatastaseisDeltiou/{CategoryID}">
         <method name="GET" soa:name="GetKatastaseisDeltioy">
            <request>
               <param name="CategoryID" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/lastUserAction/{id}/{categoryId}">
         <method name="GET" soa:name="GetLastUserAction">
            <request>
               <param name="id" style="template" type="xsd:string"/>
               <param name="categoryId" style="template" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/findNewVersionSubVersion">
         <method name="POST" soa:name="PostNewVersion">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/checkBulletin">
         <method name="POST" soa:name="PostCheckBulletin">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/checkBulletin_2">
         <method name="POST" soa:name="PostCheckBulletin_2">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
