CommonEnlightIT/Resources/WADL/UserService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="UserService">User Info Rest Service</doc>
   <resources>
      <resource path="/isDiaxiristikiArxi">
         <method name="GET" soa:name="IsDiaxiristikiArxi">
            <request>
               <param name="userName" style="query" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/oamCookie">
         <method name="GET" soa:name="GetOAMCookie">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/isController">
         <method name="GET" soa:name="IsController">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/checkManagerRole">
         <method name="GET" soa:name="CheckManagerRole">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/getUserCategory">
         <method name="GET" soa:name="GetUserCatetgory">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/getUserKodikosForea">
         <method name="GET" soa:name="GetUserKodikosForea">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
      <resource path="/userRoles">
         <method name="GET" soa:name="GetUserRoles">
            <request/>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/bulletinACL">
         <method name="POST" soa:name="BulletinACL">
            <request>
               <representation mediaType="application/json"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500">
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
